@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}

.custom-loader {
  width:50px;
  height:12px;
  background: radial-gradient(circle closest-side,white 90%,#0000) 0 0/33% 100% space;
  clip-path: inset(0 100% 0 0);
  animation:d1 0.5s steps(4) infinite;
}

::-webkit-scrollbar {
  width: 10px;
  scroll-behavior:auto;
  
}

::-webkit-scrollbar-thumb {
  background-color: #60426c;
  border-radius: 5px;
  scroll-behavior:auto;
}

::-webkit-scrollbar-track {
  background-color: #EDF2F7;
  border-radius: 5px;
}

@font-face {
  font-family: ExtraBold_Font;
  src: url('./style/Poppins-ExtraBold.ttf');

}

@font-face {
  font-family: Bold_Font;
  src: url('./style/Poppins-Bold.ttf');

}

@font-face {
  font-family: SemiBold_Font;
  src: url('./style/Poppins-SemiBold.ttf');

}

@font-face {
  font-family: Medium_Font;
  src: url('./style/Poppins-Medium.ttf');

}

@font-face {
  font-family: Regular_Font;
  src: url('./style/Poppins-Regular.ttf');

}


.extraboldfont { 
  font-family: ExtraBold_Font !important;
 }


 .boldfont { 
  font-family: Bold_Font !important;
 }
 
 .semiboldfont { 
  font-family: SemiBold_Font !important;
 }

 .mediumfont { 
  font-family: Medium_Font !important;
 }

 .regularfont { 
  font-family: Regular_Font !important;
 }

 